<AuthorizeView Roles="pku_admins, admin">
    <a href="accountmanager" class="list-group-item list-group-item-action bg-light">Добавить/удалить пользователя</a>
    <a href="phonebookmanager" class="list-group-item list-group-item-action bg-light">Редактирование справочника</a>
    <a href="catalog" class="list-group-item list-group-item-action bg-light">Редактирование выпадающих списков</a>
</AuthorizeView>