<AuthorizeView Roles="webportal_admin">
    <a href="accountmanager" class="list-group-item list-group-item-action bg-light">Добавить/удалить пользователя</a>
    <a href="phonebookmanager" class="list-group-item list-group-item-action bg-light">Телефонный справочник</a>
    <a href="catalog" class="list-group-item list-group-item-action bg-light">Выпадающие списки</a>
</AuthorizeView>