<AuthorizeView Roles="pku_admins, admin">
    <a href="accountmanager" class="list-group-item list-group-item-action bg-light">Добавить/удалить пользователя</a>
    <a href="catalog" class="list-group-item list-group-item-action bg-light">Каталог</a>
</AuthorizeView>