<AuthorizeView Roles="pku_admins, superuser">
    <li class="nav-item">
        <NavLink class="nav-link" href="dutymanager" Match="NavLinkMatch.All">Назначить дежурного</NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="usermanager" Match="NavLinkMatch.All">Редактировать пользователей</NavLink>
    </li>
</AuthorizeView>