@inject HttpClient HttpClient


@if (duty is null)
{
    <div class="card border-danger mb-3">
        <div class="card-body">
            <p class="card-text">отсутствует</p>
        </div>
    </div>
}
else
{
    <div class="card mb-2">
        <img src="@duty.AssignedTo.Avatar" class="card-img-top" />
        <div class="card-body">
            <h5 class="card-title">@duty.AssignedTo.DisplayName</h5>
            <p class="card-text"><small class="text-muted">@duty.AssignedTo.WorkingPosition</small></p>
            <p class="card-text"><small class="text-muted">@duty.AssignedTo.Department.Name</small></p>
        </div>
    </div>
}


@code {

    Duty duty;

    protected async override Task OnInitializedAsync()
    {
        duty = await HttpClient.GetJsonAsync<Duty>("/api/duty/today");
    }
}
