@inject HttpClient HttpClient


@if (duty is null)
{
    <div class="card border-danger mb-3">
        <div class="card-body">
            <p class="card-text">отсутствует</p>
        </div>
    </div>
}
else
{
    <div class="card mb-2">
        <img src="@duty.AppUserViewModel.Avatar" class="card-img-top" />
        <div class="card-body">
            <h5 class="card-title">@duty.AppUserViewModel.DisplayName</h5>
            <p class="card-text"><small class="text-muted">@duty.AppUserViewModel.WorkingPosition</small></p>
            <p class="card-text"><small class="text-muted">@duty.AppUserViewModel.DepartmentViewModel.Name</small></p>
        </div>
    </div>
}


@code {

    DutyViewModel duty;

    protected async override Task OnInitializedAsync()
    {
        duty = await HttpClient.GetJsonAsync<DutyViewModel>(ApiRoutes.Duty.TODAY);
    }
}
