<AuthorizeView Roles="pku_admins, admin">
    <a href="dutymanager" class="list-group-item list-group-item-action bg-light">Назначить дежурного</a>
    <a href="usermanager" class="list-group-item list-group-item-action bg-light">Редактировать пользователей</a>
</AuthorizeView>