<AuthorizeView>
    <NotAuthorized>
        <ul class="navbar-nav">
            <li class="nav-item">
                <NavLink class="nav-link" href="login" Match="NavLinkMatch.All">
                    <MatIcon Icon="input" />
                </NavLink>
            </li>
        </ul>
    </NotAuthorized>
</AuthorizeView>