@inherits LayoutComponentBase
@inject IAppVersionService AppVersionService

<header class="mb-3 shadow-lg">
    <!-- Main foto  -->
    <div class="main-bgfoto">
    </div>
    <NavMenu />
</header>

<main>
    @Body
</main>

<footer class="footer fixed-bottom footer-bgfoto">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <p class="text-left">Лаборатория ИОТ &copy; 2019</p>
            </div>
            <div class="col-6">
                <p class="text-right">v: @AppVersionService.Version</p>
            </div>
        </div>
    </div>
</footer>
