@inherits LayoutComponentBase
@inject IAppVersionService AppVersionService

<header>
    <!-- Main foto  -->
    <div class="main-bgfoto">
    </div>
    <NavMenu />
</header>

<main>
    <div>
        @Body
    </div>
</main>

<footer class="page-footer footer-bgfoto">
    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    Лаборатория ИОТ &copy; 2019
                </div>
                <div class="col l6 s12">
                    v: @AppVersionService.Version
                </div>
            </div>
        </div>
    </div>
</footer>
