@inherits LayoutComponentBase

<header class="sidebar">
    <NavMenu />
</header>

<div class="main">
    <div class="top-row px-4">
        <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>

<footer class="footer">
    <nav class="navbar footer-bgfoto">
        <a class="navbar-brand">Лаборатория ИОТ &copy; 2019 </a>
        <p>v.0.0.1</p>
    </nav>
</footer>