@inherits LayoutComponentBase

@inject IAppVersionService AppVersionService
@inject IJSRuntime JSRuntime

<div class="d-flex @SidebarCssClass" id="wrapper">
    <AuthorizeView>
        <MatFAB Icon="menu" OnClick="() => ToggleSidebarMenu()" Id="toggle-sidebar-fab" Style="@SidebarCssStyle"></MatFAB>
        <!-- Sidebar -->
        <div class="bg-light border-right" id="sidebar-wrapper">
            <div class="sidebar-heading">
                <img src="/img/site/logo.png" width="80" height="80" alt="">
                <p>@context.User.Claims.Where(c => c.Type == ClaimTypes.WindowsAccountName).Select(c => c.Value).FirstOrDefault()</p>
            </div>
            <div class="list-group list-group-flush">
                <a href="/user/@context.User.Claims.Where(c => c.Type == ClaimTypes.UserData).Select(c => c.Value).FirstOrDefault()" class="list-group-item list-group-item-action bg-light">Профиль</a>
                <a href="/article/create" class="list-group-item list-group-item-action bg-light">Новое объявление</a>
                <AdminMenu />
                <KadryMenu />
                <PublisherMenu />
                <a href="logout" class="list-group-item list-group-item-action bg-light">Выход</a>
            </div>
        </div>
    </AuthorizeView>
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <header class="shadow-lg">
            <!-- Main foto  -->
            <div class="main-bgfoto">
            </div>
            <NavMenu />
        </header>
        <main class="container mt-3 mb-5">
            <CalendRss />
            @Body
        </main>
        <footer class="footer fixed-bottom footer-bgfoto">
            <div class="container">
                <div class="row mt-2">
                    <div class="col-6">
                        <p class="text-left">Лаборатория ИОТ &copy; 2019</p>
                    </div>
                    <div class="col-6">
                        <p class="text-right">v. @AppVersionService.Version</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->
<MatToastContainer />

@code {

    bool collapseSidebarMenu = true;

    string SidebarCssClass => collapseSidebarMenu ? "toggled " : null;
    string SidebarCssStyle => collapseSidebarMenu ? "left: 2rem" : "left: 13rem";


    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
            await JSRuntime.InvokeVoidAsync("stickyNav");

    }

    void ToggleSidebarMenu()
    {
        collapseSidebarMenu = !collapseSidebarMenu;
    }
}
