<nav class="navbar navbar-dark navbar-expand-lg nav-bgfoto" id="sticky-nav">
    <a class="navbar-brand mr-3">
        <img src="/img/site/logo.png" width="30" height="30" alt="">
        <span>Петрозаводское ПКУ</span>
    </a>
    <button class="navbar-toggler" aria-label="Toggle navigation" @onclick="() => ToggleNavMenu()">
        <MatIcon id="toggler-button">apps</MatIcon>
    </button>
    <div class="@NavMenuCssClass navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">Главная</NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="dutylist" Match="NavLinkMatch.All">Дежурные</NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="phonebook" Match="NavLinkMatch.All">Справочник телефонов</NavLink>
            </li>
        </ul>
        <LoginMenu />
    </div>
</nav>


@code {

    bool collapseNavMenu = true;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
