@inject HttpClient HttpClient


<table class="table">
    <tbody>
        <ForeachTemplate Loader="@LoadUsers">
            <LoadingContent>
                <tr>
                    <td class="preloader-wrapper big active">
                        <div class="spinner-layer spinner-blue-only">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div><div class="gap-patch">
                                <div class="circle"></div>
                            </div><div class="circle-clipper right">
                                <div class="circle"></div>
                            </div>
                        </div>
                    </td>
                </tr>
            </LoadingContent>
            <EmptyContent>
                <tr>
                    <td>No Users...</td>
                </tr>
            </EmptyContent>
            <ItemContent Context="item">
                <tr>
                    <td>@item.LoginName</td>
                    <td>@item.LastName</td>
                    <td>@item.FirstName</td>
                </tr>
            </ItemContent>
        </ForeachTemplate>
    </tbody>
</table>


@code {

    async Task<List<UserInfo>> LoadUsers()
    {
        return await HttpClient.GetJsonAsync<List<UserInfo>>("api/users/all");
    }
}