@using System.ComponentModel.DataAnnotations;


@if (Errors.Any())
{
    <div class="alert alert-danger" role="alert">
        @foreach (var error in Errors)
        {
            <p class="mb-0">@error</p>
        }
    </div>
}

@code {
    [Parameter]
    public IValidatableObject Model { get; set; }

    protected ValidationContext Context => new ValidationContext(Model);

    protected IEnumerable<ValidationResult> Errors => Model.Validate(Context);
}
