@inject HttpClient HttpClient

<h4>Сегодня дежурный:</h4>

@if (duty == null)
{
    <div class="card">
        <div class="card-content">
            <p>нет дежурного</p>
        </div>
    </div>
}
else
{
    <div class="card">
        <div class="card-image">
            <img src="@duty.AssignedTo.PhotoUrl" />
            <span class="card-title">@duty.AssignedTo.LastName</span>
        </div>
        <div class="card-content">
            <p>@duty.AssignedTo.WorkingPosition</p>
        </div>
    </div>
}


@code {

    string apiUrl = "/api/duty/today";
    Duty duty;

    protected async override Task OnInitAsync()
    {
        var response = await HttpClient.GetAsync(apiUrl);

        if ((int)response.StatusCode == 200)
            duty = await HttpClient.GetJsonAsync<Duty>(apiUrl);
    }
}
