@inject HttpClient HttpClient


@if (duty == null)
{
    <div class="card border-danger mb-3">
        <div class="card-body">
            <p class="card-text">нет</p>
        </div>
    </div>
}
else
{
    <div class="card mb-2">
        <img src="@duty.AssignedTo.PhotoUrl" class="card-img-top" />
        <div class="card-body">
            <h5 class="card-title">@duty.AssignedTo.LastName</h5>
            <p class="card-text"><small class="text-muted">@duty.AssignedTo.WorkingPosition</small></p>
        </div>
    </div>
}


@code {

    Duty duty;

    protected async override Task OnInitializedAsync()
    {
        var apiUrl = "/api/duty/today";
        var response = await HttpClient.GetAsync(apiUrl);

        if ((int)response.StatusCode == 200)
            duty = await HttpClient.GetJsonAsync<Duty>(apiUrl);
    }
}
