@page "/"

<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12 m4">
                <ShowArticles></ShowArticles>
            </div>
            <div class="col s12 m4">
                <RssFeed></RssFeed>
            </div>
            <div class="col s12 m4">
                <SurveyPrompt Title="How is Blazor working for you?" />
            </div>

        </div>
    </div>
</div>
