@page "/"


<div class="row">
    <div class="col-6 border-right">
        <h4 class="mb-3"> Новости, события, объявления </h4>
        <ListNotes />
        <ListPosts />
    </div>
    <div class="col-3 border-right">
        <h4 class="mb-3">Официальный сайт</h4>
        <ListRss />
    </div>
    <div class="col-3">
        <h5 class="mb-3">Дежурный по училищу</h5>
        <DutyToday />
        <hr class="my-4">
        <BirthdaysForWeek />
    </div>
</div>


