@page "/"

<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12 m4">
                <ShowArticles />
            </div>
            <div class="col s12 m4">
                <RssFeed />
            </div>
            <div class="col s12 m4">
                <WhoIsDutyToday />
                <BirthdaysForWeek />
            </div>
            
        </div>
    </div>
</div>
