@page "/login"

@using System.Net.Http
@inject IAuthService AuthService
@inject IUriHelper UriHelper

<h1>Вход</h1>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Пожалуйста, введите свои учетные данные</h5>
        <EditForm Model="loginModel" OnValidSubmit="HandleLogin">
            <DataAnnotationsValidator />
            <ValidationErrors Model="loginModel" />
            <div class="form-group">
                <label for="username">Имя пользователя</label>
                <InputText Id="username" Class="form-control" @bind-Value="loginModel.Username" />

            </div>
            <div class="form-group">
                <label for="password">Пароль</label>
                <InputText Id="password" type="password" Class="form-control" @bind-Value="loginModel.Password" />
            </div>
            <MatButton Type="submit" Raised="true" Label="Отправить" Icon="done" />
        </EditForm>
    </div>
</div>

<MatSnackbar @bind-IsOpen="@showError">
    <MatSnackbarContent>@message</MatSnackbarContent>
</MatSnackbar>

@code {

    private LoginViewModel loginModel = new LoginViewModel();
    private bool showError = false;
    private string message;


    private async Task HandleLogin()
    {
        try
        {
  
            await AuthService.Login(loginModel);
        }
        catch (HttpRequestException e)
        {
            showError = true;
            message = e.Message;
            this.StateHasChanged();
            return;
        }

        UriHelper.NavigateTo("/");

    }

}
