@page "/video"

<div class="row mb-4">
    <h3>Видеокамера на КПП</h3>
</div>

<div class="row mb-4">
    <video autoplay width='1024' height='576'>
        <source src="rtsp://192.168.3.2:7447/5ad5f306d5de4ae6fad134f2_1" type='rtmp/mp4'>
    </video>
</div>
