@page "/video"

<div class="row mb-4">
    <h3>Видеокамера на КПП</h3>
</div>

<div class="row mb-4">
    <embed type="application/x-vlc-plugin"
           pluginspage="http://www.videolan.org"
           width="640"
           height="480"
           target="rtsp://192.168.3.2:7447/5ad5f306d5de4ae6fad134f2_1"
           id="vlc" />
</div>
