@page "/video"

@inject IJSRuntime JSRuntime

<h2 class="col-12 mb-4 text-center">Видеокамера на КПП</h2>

<div class="alert alert-danger" role="alert">
    Для получения записи с камеры обращаться в лабораторию ИОТ, кабинет 305
</div>

<div class="embed-responsive embed-responsive-4by3">
    <video class="embed-responsive-item" id="video"></video>
</div>

@code {

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
            await JSRuntime.InvokeVoidAsync("hlsPlayer");

    }
}
