<AuthorizeView Roles="webportal_admin">
    <a href="catalog" class="list-group-item list-group-item-action bg-light">Справочники</a>
    <a href="http://glpi.pku.petrpku.ru" class="list-group-item list-group-item-action bg-light">Учет техники</a>
    <a href="http://wiki.pku.petrpku.ru" class="list-group-item list-group-item-action bg-light">База знаний</a>
    <a href="http://stats.petrpku.ru:3000" class="list-group-item list-group-item-action bg-light">Статистика</a>
</AuthorizeView>