@page "/contacts"

@inject HttpClient HttpClient


<h3>Адресная книга</h3>



@code {

    private List<AppUser> Contacts { get; set; }

    protected async override Task OnInitializedAsync()
    {
        Contacts = await HttpClient.GetJsonAsync<List<AppUser>>("api/contacts/all");
    }
}
