.loader {
    position: absolute;
    top: 0;
    left: calc(50% - 250px);
    width: 500px;
    bottom: 0;
    margin: auto;
}

.main-bgfoto {
    background-image: url(../img/site/header-big.JPG);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 20em;
}

.nav-bgfoto {
    background-color: #20294f;
    background-image: url(../img/site/header-small.png);
    background-position: 50% 35%;
    background-repeat: no-repeat;
    color: #fff;
    z-index: 6;
}

.footer-bgfoto {
    background-color: #20294f;
    background-image: url(../img/site/header-small.png);
    background-position: 50% 75%;
    background-repeat: no-repeat;
    color: #fff;
    z-index: 6;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
    /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
    .sticky + .content {
        padding-top: 50px;
    }


#toggler-button {
    color: white;
}

#toggle-sidebar-fab {
    position: fixed;
    top: 3rem;
    z-index: 8;
}

/* For department view */
@media (min-width: 576px) {
    .card-columns {
        column-count: 2;
    }
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 3;
    }
}

@media (min-width: 992px) {
    .card-columns {
        column-count: 4;
    }
}

@media (min-width: 1200px) {
    .card-columns {
        column-count: 4;
    }
}

.editor-container {
    margin-bottom: 70px;
}
